.inner-contact {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

/** FORMULARIO **/
.budget {
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
}

.budget h2 {
  color: #fec63e;
}

.budget h2:after {
  background: #fec63e;
}

.budget-form {
  padding-right: 60px;
}

.budget-form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.budget-form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.budget-form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.budget-form button {
  padding: 18px 32px;
  background: none;
}

.budget-data {
  color: #fff;
}

.budget-data h2,
.budget-data h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fec63e;
  font-weight: bold;
}

.budget-data h3 {
  margin-top: 40px;
}

.budget-data span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.budget-data p {
  margin: 10px 0;
}

.budget-data ul {
  padding-right: 60px;
}

.budget-data ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}

.budget-data ul li:nth-child(odd) {
  background: #1d1d1d;
}
